{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row md-5">
    <div class="col-md-6">
        <div class="card card-body">
            <p>
                Sure to delete {{ object.title }}?
            </p>

            <form method="POST">
                {% csrf_token %}
                <a href="{% url 'blog:list' %}" class="btn btn-warning">
                    Cancel
                </a>
                <input type="submit" class="btn btn-danger" name="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock content %}