{% extends 'base.html' %}


{% block content %}

<h2>
    {{ object.title }}
</h2>

<img src="{{ object.image.url }}" width=300px alt="Blog image">
<p>
    {{ object.content }}
</p>
<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form> <br>
{% for comment in object.comments %}
<p>
    Comment by {{ user }}
</p>
{{ comment.content }}
<hr>
{% endfor %}

<form action="{% url 'blog:like' object.slug %}" method="POST">
    {% csrf_token %}
    <input type="hidden" , name="post">
    <input type="hidden" , name="user">
    <button type="submit">Like</button> {{ object.like_count }}
</form>

{% endblock content %}